<div class="w-full flex-1 flex-grow">

    <div class="flex justify-between w-full">
        <p class="text-3xl  text-white lowercase font-bold mb-10">
            <%= data.message %>
        </p>

        <a href="/add-contact">

            <button
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add
                Contact</button>

        </a>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>

                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Phone
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>

            </thead>
            <tbody>

                <% data.contact.forEach(contact=> { %>
                    <tr
                        class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">

                        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <%= contact.name %>
                        </td>
                        <td class="px-6 py-4">
                            <%= contact.email %>
                        </td>
                        <td class="px-6 py-4">
                            <%= contact.phone %>
                        </td>
                        <td class="px-6 py-4">
                            <a href="/edit-contact/<%= contact.id_contact %>"
                                class="inline-block bg-yellow-500 hover:bg-yellow-800 text-white font-bold py-2 px-4 rounded me-2">Edit</a>

                            <form action="/delete-contact/<%= contact.id_contact %>?_method=DELETE" method="POST"
                                style="display: inline;">
                                <button type="submit"
                                    class="inline-block bg-red-500 hover:bg-red-800 text-white font-bold py-2 px-4 rounded me-2">
                                    Delete
                                </button>
                            </form> <!-- <a href="/delete-contact/<%= contact.id %>"
                                class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a> -->
                            <a href="/contact/<%= contact.id_contact %>" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4
                                rounded">
                                View Details
                            </a>

                        </td>
                    </tr>
                    <% }) %>

            </tbody>
        </table>
    </div>



</div>


<%- contentFor('scripts') %>

    <script>

    </script>