<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= data.title %>
    </title>
    <link rel="stylesheet" href="/css/tailwind.css" />
</head>

<body>
    <%- include('../partials/nav') %>
    <%- include('../partials/header') %>
        <div></div>
            
            <div>
                <main><%- body %></main>
                <hr>
                <%- defineContent('mainas') %>
            </div>
        </div>


        <%- include('../partials/footer') %>
</body>

</html>